.movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 600px;
  margin: 100px auto;
}

img {
  width: 300px;
}

.movie__title {
  color: #f9ca24;
}

.movie__title,
.movie__year {
  text-align: center;
}

.movie__summary {
  text-align: justify;
}
